name: Maestro Test

on:
  push:
    branches: [ main ]

jobs:
  maestro:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Maestro
        run: curl -Ls https://get.maestro.mobile.dev | bash

      - name: Run App
        run: ~/.maestro/bin/maestro test app

      - name: Run Kiosk
        run: ~/.maestro/bin/maestro test S.Kiosk
